[submodule "bgfx"]
	path = bgfx
	url = git@github.com:nullorigin/bgfx.git
[submodule "bx"]
	path = bx
	url = git@github.com:nullorigin/bx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:nullorigin/bimg.git
